<%- include('templates/header.ejs') %>
    <h1>Welcome to home</h1>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
<%- include('templates/footer.ejs') %>