<%- include('templates/header.ejs') %>
<h3>Login to start using</h3>
<form action="/login" method="post">
	<input type="text" name="username" placeholder="enter your email" /><br />
	<input type="password" name="password" placeholder="enter your password" /><br />
	<button type="submit">submit</button>
</form>
<a href="/register">Register</a>
<%- include('templates/footer.ejs') %>
