<%- include('templates/header.ejs') %>
<h3>Register to use our service</h3>
<form action="/register" method="post">
	<input type="text" name="username" placeholder="enter your email" /><br />
	<input type="password" name="password" placeholder="enter your password" /><br />
	<button type="submit">submit</button>
</form>
<a href="/login">Login</a>
<%- include('templates/footer.ejs') %>
