        </div>
        <footer class="page-footer amber">
            <div class="container center-align">
              <h6>Made with ❤️ in India</h6>
              <div class="creators">
                  <p>Souvik Das</p>
                  <p>Sourav Saha</p>
                  <p>Souptik Sarkar</p>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              © 2021 Copyright Text
              </div>
            </div>
          </footer>  
</body>
</html>